.about-me-wrapper {
    display: flex;
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 80px;
    width: auto;
}

.about-container { 
    width: 600px;
    overflow: hidden;
    display: block;
    text-align: center;
 }


.about-title {
    font-size: 30px;
    font-weight: bold;
}

.about-content {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}