html {
	background-color: rgb(30, 30, 30);
}

body {
    margin: 0;
    padding: 0;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
