/* container for contact section */
.contact-container {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1100px;
    margin-bottom: 200px;
}

/* title that says contact */
.contact-title {
    font-size: 30px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

/* each line in the contact section */
.contact-item {
    display: block;
    margin-bottom: 2px;
}

/* The method by contact (email, phone, etc) */
.contact-method {
    font-size: 20px;
    color: rgb(53, 232, 200);
}

/* The link to contact me */
.contact-link {
    font-size: 20px;
}