/* container for contact section */
.contact-container {
    overflow: hidden;
    margin-left: 450px;
    margin-right: auto;
    text-align: left;
    width: 550px;
    margin-bottom: 200px;
}

/* title that says contact */
.contact-title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

/* each line in the contact section */
.contact-item {
    display: block;
    text-align: justify;
    margin-left: 10px;
    margin-bottom: 2px;
}

/* The method by contact (email, phone, etc) */
.contact-method {
    font-size: 20px;
    color: rgb(53, 232, 200);
}

/* The link to contact me */
.contact-link {
    font-size: 20px;
}