.hotbar-wrapper {
    display: flex;
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 300px;
    width: auto;
}

.name-container {    /* Class for hotbar styling at top of page */
    overflow: hidden; 
    display: block;  
}

/* Styling for elements with the class "name" */
.name {
    overflow: hidden;         /* Hide any overflowing content within the element */
    font-size: 36px;          /* Set the font size to 36 pixels */
    font-weight: bold;
}

.name-green {
    color: rgb(53, 232, 200);
}

.short-intro-content {
    font-size: 24px;
    display: block;
    line-height: 1.6;
}

.navbar-container {
    overflow: hidden;
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.navbar-buttons {
    font-size: 20px;
    overflow: hidden;
    display: inline-flex;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}

.navbar-buttons:hover {
    color: lightgray;
}

/* Button Scroll behavior */
#home {
    overflow: hidden;
}

#intro {
    margin-top: 80px;
}

#projects {
    margin-top: 80px;
}

#contact {
    margin-top: 80px;
}