.hotbar-wrapper {
    display: flex;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    width: auto;
}

.name-container {    /* Class for hotbar styling at top of page */
    overflow: hidden;   
}

/* Styling for elements with the class "name" */
.name {
    overflow: hidden;         /* Hide any overflowing content within the element */
    font-size: 36px;          /* Set the font size to 36 pixels */
    font-weight: bold;
}

.name-blue {
    color: cyan;
    opacity: 90%;
}

.short-intro-container {
    overflow: hidden;
}

.short-intro-content {
    font-size: 24px;
    display: block;
    line-height: 1.6;
}