/* container around the intro section */
.intro-container { 
    margin-top: 100px;
    margin-left: 450px;
    margin-right: auto;
    width: 550px;
    overflow: hidden;
    display: block;
    margin-bottom: 200px;
 }

 /* Short Hey there greeting */
.intro-greeting {
    font-size: 30px;
    font-weight: bold;
    color: rgb(53, 232, 200);
    display: block;
}

/* Short name introduction */
.intro-name {
    font-size: 60px;
    font-weight: bold;
}

/* Short intro statement */
.intro-statement {
    font-size: 20px;
    line-height: 1.5;
}