.intro-wrapper {
    display: block;
    margin-top: 320px;
    margin-left: 300px;
    margin-right: 300px;
    width: auto;
}

.intro-container { 
    width: 550px;
    overflow: hidden;
    display: block;
    margin-bottom: 200px;
 }

.intro-greeting {
    font-size: 30px;
    font-weight: bold;
    color: rgb(53, 232, 200);
    display: block;
}

.intro-name {
    font-size: 48px;
    font-weight: bold;
}

.intro-statement {
    font-size: 20px;
    line-height: 1.5;
}