/* Wrapper for the top section of page */
.navbar-wrapper {
    display: flex;
    margin-top: 60px;
    margin-left: 450px;
    margin-right: 300px;
    width: auto;
}

/* container for name section on left */
.name-container {    
    overflow: hidden; 
    display: block;  
}

/* Big name at top of page */
.name {
    overflow: hidden;         
    font-size: 36px;          
    font-weight: bold;
}

/* The first letter that turns green */
.name-green {
    color: rgb(53, 232, 200);
}

/* My career and location */
.short-intro-content {
    font-size: 24px;
    display: block;
    line-height: 1.6;
}

/* Container for the navbar shortcuts top right of page */
.navbar-container {
    overflow: hidden;
    display: flex;
    margin-left: auto;
    gap: 26px;
    cursor: auto;
}

/* Buttons that can be clicked to scroll */
.navbar-buttons {
    font-size: 20px;
    overflow: hidden;
    display: inline-flex;
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

/* button behavior when hovered */
.navbar-buttons:hover {
    color: lightgray;
    cursor: pointer;
}

/* Button Scroll behavior */
#intro {
    overflow: hidden;
}

#experience {
    overflow: hidden;
}

#projects {
    overflow: hidden;
}

#contact {
    overflow: hidden;
}