/* Wrapper for project section */
.project-wrapper {
    display: flex;
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 300px;
    width: auto;
}

/* Container for all projects*/
.project-container {
    display: block;
    width: 550px;
    margin-left: auto;
}

/* Title that says project */
.project-title {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Each individual project grouped */
.project-item {
    margin-bottom: 20px;
}

/* Name of each individual project */
.project-name {
    font-size: 20px;
    color: rgb(53, 232, 200);
}

/* Link to each projects github */
.project-link {
    font-size: 18px;
    cursor: pointer;
}

/* short sumary of each project */
.project-summary {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}
