/* Wrapper for project section */
.project-wrapper {
    display: block;
    margin-top: 100px;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 200px;
    width: auto;
}

/* Container for all projects*/
.project-container {
    display: block;
    width: 550px;
    margin-right: auto;
    margin-top: 30px;
    cursor: auto;
}

/* Title that says project */
.project-title {
    font-size: 34px;
    display: block;
    justify-content: left;
    font-weight: bold;
}

/* Name of each individual project */
.project-name {
    font-size: 22px;
    color: rgb(53, 232, 200);
    display: block;
    font-weight: bold;
}

/* Link to each projects github */
.project-link {
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 4px;
    text-decoration: underline;
}

/* short sumary of each project */
.project-summary {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: justify;
}