#about {
    margin-top: 0;
} 

#portfolio {
    margin-top: 0;
} 

#contact {
    margin-top: 0;
}
.empty-space {
    font-size: 200px;
    margin-top: 300px;
    color: rgb(30, 30, 30);
    user-select: none;
}